# Python Environment
# ------------------------------------------------------------------------------
# Prevents local virtual environments and third-party packages from being 
# tracked or committed to the repository.
.venv/

# Company Profiles & Executive Summaries
# ------------------------------------------------------------------------------
# Excludes company job application requirement documents, consisting of 
# corporate profiles and executive summaries.
docs/Dokumen Pengujian AI_ Informasi Profil Perusahaan (SOPRA).docx
docs/Ringkasan-Eksekutif-Optimasi-Inventaris.pdf
docs/